@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Practice 3</h1>
    <h2>Type in "/MessageWall" without deleting the current domain to see the practice app</h2>
    <p>or just copy and paste this link here! https://localhost:7131/MessageWall</p>
</div>
